Corrida0.png
Corrida1.png
Corrida2.png
Corrida3.png
Corrida4.png
Corrida5.png
Corrida6.png
Corrida7.png
Corrida8.png
Corrida9.png
Histograma0.png
Histograma1.png
Histograma2.png
Histograma3.png
Histograma4.png
Histograma5.png
Histograma6.png
Histograma7.png
Histograma8.png
Histograma9.png
FrecuenciaRelativa.png
Frec.Relativa0.png
Frec.Relativa1.png
Frec.Relativa2.png
Frec.Relativa3.png
Frec.Relativa4.png
Frec.Relativa5.png
Frec.Relativa6.png
Frec.Relativa7.png
Frec.Relativa8.png
Frec.Relativa9.png
ContadorBancarrota.png
CapitalComparado.png
Desvio.png
Varianza.png
Promedio.png