Corrida0.png
Corrida1.png
Corrida2.png
Corrida3.png
Corrida4.png
Corrida5.png
Corrida6.png
Corrida7.png
Corrida8.png
Corrida9.png
Histograma0.png
Histograma1.png
Histograma2.png
Histograma3.png
Histograma4.png
Histograma5.png
Histograma6.png
Histograma7.png
Histograma8.png
Histograma9.png
FrecuenciaRelativa.png